<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/edua-icons.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="css/cubeportfolio.min.css">
  <link rel="stylesheet" type="text/css" href="css/settings.css">
  <link rel="stylesheet" type="text/css" href="css/bootsnav.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/loader.css">
  <link rel="icon" href="images/favicon.png">
  <style>
  </style>
</head>

<body>
  <div id="app">
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--Loader-->
    <div class="loader">
      <div class="bouncybox">
        <div class="bouncy"></div>
      </div>
    </div>
    <!--Header-->
    <header>
      <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo-white.png" alt="logo"
                class="logo logo-display">
              <img src="images/logo.png" class="logo logo-scrolled" alt="">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">
              <li><a href="index.html">首页</a></li>
              <li><a href="courses.html">课程中心</a></li>
              <li><a href="event.html">新闻动态</a></li>
              <li><a href="contact.html">联系我们</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!--Slider-->
    <section class="rev_slider_wrapper text-center">
      <!-- START REVOLUTION SLIDER 5.0 auto mode -->
      <div>
        <ul>
          <li data-transition="fade" v-for="(item,index) in banner" :key="index">
            <img :src="item.imgUrl" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10"
              class="rev-slidebg" style="width: 100%;">
            <div style="position: relative; bottom:25rem">
              <div>
                <h1 style="color: white;font-family: '黑体';font-size: 3rem;margin-bottom: 20px;">{{item.title}}</h1>
              </div>
              <div>
                <p style="color: white;font-family: '黑体';">{{item.subtitle}}</p>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </section>


    <!--ABout US-->
    <section id="about" class="padding">
      <div class="container">
        <div class="row">
          <div class="icon_wrap padding-bottom-half clearfix">
            <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="300ms"
              v-for="(item,index) in List[0]" :key="index">
              <template v-if="index%2==0">
                <i class="icon-layers"></i>
              </template>
              <template v-if="index%2!=0">
                <i class="icon-globe"></i>
              </template>
              <h4 class="text-capitalize bottom20 margin10">{{item.name}}</h4>
              <p class="no_bottom">{{item.desc}}</p>
            </div>
            <!-- <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="400ms">
              <i class="icon-icons9"></i>
              <h4 class="text-capitalize bottom20 margin10">小学语文</h4>
              <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that
                but the really great.</p>
            </div>
            <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="500ms">
              <i class="icon-icons20"></i>
              <h4 class="text-capitalize bottom20 margin10">初中理科培优</h4>
              <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that
                but the really great.</p>
            </div>
            <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="600ms">
              <i class="icon-globe"></i>
              <h4 class="text-capitalize bottom20 margin10">初中语文</h4>
              <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that
                but the really great.</p>
            </div>
            <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="400ms">
              <i class="icon-layers"></i>
              <h4 class="text-capitalize bottom20 margin10">五式书法</h4>
              <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that
                but the really great.</p>
            </div>
            <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="500ms">
              <i class="icon-laptop"></i>
              <h4 class="text-capitalize bottom20 margin10">冲关作文</h4>
              <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that
                but the really great.</p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="container margin_top">
        <div class="row">
          <div class="col-md-7 col-sm-6 priorty wow fadeInLeft" data-wow-delay="300ms">
            <h2 class="heading bottom25">企业文化 <span class="divider-left"></span></h2>
            <p class="half_space">
              丰宁英智教育是石家庄佳鑫诺教育集团在丰宁的中小学事业部，英智教育始终坚持佳鑫诺的办学理念，“成就学员，成就梦想”，致力于中小学理科培优+语文素养提升，为孩子提供更好的教育。</p>
            <div class="row">
              <div class="col-md-6">
                <div class="about-post">
                  <a href="#." class="border_radius"><img src="images/hands.png" alt="hands"></a>
                  <h4>激发</h4>
                  <p>Motivate students</p>
                </div>
                <div class="about-post">
                  <a href="#." class="border_radius"><img src="images/awesome.png" alt="hands"></a>
                  <h4>培育</h4>
                  <p>Nurturing students</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-post">
                  <a href="#." class="border_radius"><img src="images/maintenance.png" alt="hands"></a>
                  <h4>唤醒</h4>
                  <p>Wake up students</p>
                </div>
                <div class="about-post">
                  <a href="#." class="border_radius"><img src="images/home.png" alt="hands"></a>
                  <h4>塑造</h4>
                  <p>Shaping students</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 wow fadeInRight" data-wow-delay="300ms">
            <img src="images/about.jpg" alt="our priorties" class="img-responsive" style="width:100%;">
          </div>
        </div>
      </div>
    </section>
    <!--ABout US-->

    <!-- Courses -->
    <section id="courses" class="padding parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="heading heading_space wow fadeInDown">教师风采<span class="divider-left"></span></h2>
          </div>
        </div>
        <div class="row">
          <template v-for="item in List[1]">
            <div class="col-md-4">
              <div class="item">
                <div class="image bottom20">
                  <img :src="item.imgUrl" alt="Courses" class="img-responsive border_radius">
                </div>
                <h3 class="bottom15">{{item.name}}</a></h3>
                <p class="bottom15">{{item.desc}}</p>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
    <!-- Courses -->

    <!--Customers Review-->
    <!-- <section id="reviews" class="padding bg_light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeInDown">
      <h2 class="heading heading_space">企业文化 <span class="divider-center"></span></h2>
      <div id="review_slider" class="owl-carousel text-center">
        <div class="item">
          <h4>John Smith</h4>
          <p>Ditector Shangha</p>
          <img src="images/customer1.png" class="client_pic border_radius" alt="costomer">
          <p>I've been happy with the services provided by Edua LLC. Scooter Libby has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. We are here to help you from the initial phase to the final Edua phase.</p>
        </div>
        <div class="item">
           <h4>John Smith</h4>
          <p>Ditector Shangha</p>
          <img src="images/customer1.png" class="client_pic border_radius" alt="costomer">
          <p>I've been happy with the services provided by Edua LLC. Scooter Libby has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. We are here to help you from the initial phase to the final Edua phase.</p>
        </div>
        <div class="item">
           <h4>John Smith</h4>
          <p>Ditector Shangha</p>
          <img src="images/customer1.png" class="client_pic border_radius" alt="costomer">
          <p>I've been happy with the services provided by Edua LLC. Scooter Libby has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. We are here to help you from the initial phase to the final Edua phase.</p>
        </div>
       </div>
      </div>
    </div>
  </div>
</section> -->
  <!-- News-->
  <section id="news" class="padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow fadeInDown">
          <h2 class="heading heading_space">近期动态<span class="divider-left"></span></h2>
        </div>
      </div>
      <div class="row">
        <div class="item col-md-4" v-for="item in List[2]">
          <div class="content_wrap">
            <div class="image">
              <img :src="item.imgUrl" alt="Edua" class="img-responsive border_radius">
            </div>
            <div class="news_box border_radius">
              <h4><a href="#" :id="item._id" @click="toNextPage">{{item.name}}</a></h4>
              <ul class="commment">
                <li><a href="#" :id="item._id" @click="toNextPage"><i class="icon-icons20"></i>{{item.date}}</a></li>
              </ul>
              <p>{{item.desc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--Pricings-->
    <section class="padding" id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center wow fadeInDown">
            <h2 class="heading">特色课程 <span class="divider-center"></span></h2>
            <p class="heading_space margin10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="col-md-12">
            <div class="pricing">
              <div class="pricing_item wow fadeInUp" data-wow-delay="300ms">
                <h3>小学数学思维提升</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>9.90</div>
                <p class="pricing_sentence">Perfect for single freelancers who work by themselves</p>
                <ul class="pricing_list">
                  <li class="pricing_feature">Support forum</li>
                  <li class="pricing_feature">Free hosting</li>
                  <li class="pricing_feature">40MB of storage space</li>
                  <li>Social media integration</li>
                  <li>1GB of storage space</li>
                </ul>

              </div>
              <div class="pricing_item active wow fadeInUp" data-wow-delay="400ms">
                <h3>Popular</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>29,90</div>
                <p class="pricing_sentence">Suitable for small businesses with up to 5 employees</p>
                <ul class="pricing_list">
                  <li class="pricing_feature">Unlimited calls</li>
                  <li class="pricing_feature">Free hosting</li>
                  <li class="pricing_feature">10 hours of support</li>
                  <li class="pricing_feature">Social media integration</li>
                  <li class="pricing_feature">1GB of storage space</li>
                </ul>

              </div>
              <div class="pricing_item dark_gray wow fadeInUp" data-wow-delay="500ms">
                <h3>Premier</h3>
                <div class="pricing_price"><span class="pricing_currency">$</span>59,90</div>
                <p class="pricing_sentence">Great for large businesses with more than 5 employees</p>
                <ul class="pricing_list">
                  <li class="pricing_feature">Unlimited calls</li>
                  <li class="pricing_feature">Free hosting</li>
                  <li class="pricing_feature">Unlimited hours of support</li>
                  <li class="pricing_feature">Social media integration</li>
                  <li class="pricing_feature">Unlimited storage space</li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Pricings-->
    <!--Paralax -->
    <section id="parallax" class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center wow bounceIn">
          </div>
        </div>
      </div>
    </section>
    <!--Paralax -->
  

    <!--FOOTER-->
    <footer class="padding-top" style="padding-bottom: 40px;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 footer_panel bottom25">
            <h3 class="heading bottom25">About Us<span class="divider-left"></span></h3>
            <a href="index.html" class="footer_logo bottom25"><img src="images/logo-white.png" style="width: 80px;" alt="Edua"></a>
            <p>成就客户，成就梦想，务实创新</p>

          </div>
          <div class="col-md-4 col-sm-4 footer_panel bottom25">
            <h3 class="heading bottom25">Quick Links<span class="divider-left"></span></h3>
            <ul class="links">
              <li><a href="#."><i class="icon-chevron-small-right"></i>首页</a></li>
              <li><a href="#."><i class="icon-chevron-small-right"></i>课程中心</a></li>
              <li><a href="#."><i class="icon-chevron-small-right"></i>新闻动态</a></li>
              <li><a href="#."><i class="icon-chevron-small-right"></i>联系我们</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 footer_panel bottom25">
            <h3 class="heading bottom25">Keep in Touch <span class="divider-left"></span></h3>
            <p class=" address"><i class="icon-map-pin"></i>信达地产三楼</p>
            <p class=" address"><i class="icon-phone"></i>(654) 332-112-222</p>
            <p class=" address"><i class="icon-mail"></i><a href="mailto:Edua@info.com">Edua@info.com</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!--FOOTER ends-->
  </div>


  <script src="js/jquery-2.2.3.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootsnav.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/jquery-countTo.js"></script>
  <script src="js/jquery.parallax-1.1.3.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.cubeportfolio.min.js"></script>
  <script src="js/jquery.themepunch.tools.min.js"></script>
  <script src="js/jquery.themepunch.revolution.min.js"></script>
  <script src="js/revolution.extension.layeranimation.min.js"></script>
  <script src="js/revolution.extension.navigation.min.js"></script>
  <script src="js/revolution.extension.parallax.min.js"></script>
  <script src="js/revolution.extension.slideanims.min.js"></script>
  <script src="js/revolution.extension.video.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/functions.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          List: [null],
          banner: [],
          show:false
        }
      },
      mounted() {
        var that = this
        axios.get('http://127.0.0.1:3000/web/api/main')
          .then(function (response) {
            that.List = response.data
            console.log(that.List);
            that.banner = response.data[3]
            that.show=true
            console.log(that.show)
          })
          .catch(function (error) {
            console.log(error);
          });

      },
      methods: {
        toNextPage: function (event) {
          let id = event.target.id
          window.location.href = "event_detail.html?" + id
        }
      }
    })
  </script>
</body>

</html>